
   /* CARDS VELOS */
   
    .container-velos 
    {
        display: flex;
        justify-content: space-between;
        font-family: 'Manrope', sans-serif;
        margin-left: 16px;
    }

.container-velos .cards:hover {
    border-width: 4px;
    border-radius: 8px;
    }
    .cards {
        
        border-radius: 8px;
        box-shadow: 0 8px 16px 0px;
        transition: all 0.5s;
        cursor: pointer;
        padding: 8px;
        
    }
    .cards img {
        width: 400px;
    }
  .cards:hover {
        color: black;
        background-color: transparent;
    }

    .clignote {
        margin-left: 16px;
    }


    .container button 
    {
        font-family: 'Manrope', sans-serif;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: all 0.5;
    }
    .container button:hover 
    {
        background-color:rgba(255, 77, 0, 0.591);
        color: wheat;
        border: none;
    }

    .services 
    {
        display: flex;
  
        align-items: center;  
    }

    .payment, .delivery, .guarantee, .discount 
    {
            padding-top: 180px;
            padding-right:224px;
            padding-bottom: 80px;
            margin-left: 16px;
    }