
input 
{
    font-family: 'Manrope', sans-serif;
}
    .containerconnexion
    {
     
        max-width: 100%;
        margin: 0;
        padding-top: 68px;
    } 

    .container2 
    {
        display: flex;
        justify-content: space-evenly
        
    }
  
   .register h1, .login h1 {
    color: rgb(255, 255, 255);
    text-align: center;

   }
    .register
    {
        margin-top: 32px;
        border-radius: 8px;
        box-shadow: 0 8px 20px 0px;
        background-color: #468b71e2;
        padding: 24px;
      
    }

    .login, .register
    {
        margin-top: 32px;
        margin-bottom: 132px;
        border-radius: 8px;
        box-shadow: 0 8px 16px -12px;
        background-color: #468b71e2;
        padding: 24px;
    }
.login h1 {
    margin-bottom: 48px;
}

.register h1 
{
    margin-bottom: 48px;
}
.input-grp 
    {

   width: 100%;
    margin: 0 auto;
   
    }

    .login input, .register input 
    {
    width: 80%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    
   }

  button.enter {

    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    transition: all 0.5s;
}

   .enter button {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    transition: all 0.5s;
}
   .enter button:hover {
    background-color: rgba(255, 77, 0, 0.591);
color: white;
   }