.services {
    display: flex;
    justify-content: space-between;
}


.help1 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.follow {
    display: inline-block;
    align-items: center;  
}

form {
    background-color: rgba(202, 183, 158, 0.763);
    display: inline-block;
    padding: 12px;
    align-items: column;
    border-radius: 8px;
}

